<div id="new-report-page">
    <div class="heading">
        <div class="container">
            <div class="row vertical-align">
                <span class="col-md-6">View Report</span>

                <div class="col-md-6">
                    <div class="float-right">
                        <span class="total-amount">Total: {{report.total | currency : '$'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <aside class="col-md-2">
                <hp-report-details report="report" editable="false"></hp-report-details>
            </aside>
            <div class="col-md10 col-md-offset-2 main">
                <h3>Submitted Expenses</h3>
                <div ng-if="expenses.length>0">
                    <hp-expenses-list mode="'submitted'" expenses-src="expenses" pages="pagesCount"></hp-expenses-list>
                </div>
                <div ng-if="expenses.length==0" class="no-table-data">
                    No submitted expenses available for this report
                </div>
                    <button class="hp-btn submit-expenses-btn" ng-click="backToHome()">Back to Home</button>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>